:root {
  --main-background-color: linear-gradient(
    to bottom,
    rgb(237, 250, 117),
    rgb(242, 255, 125),
    rgb(255, 204, 65)
  );
  --color-1: rgb(84, 14, 112);
  --color-2: rgb(129, 60, 121);
  --color-3: rgb(22, 144, 153);
  --color-4: rgb(48, 134, 62);
  --header-1-font: "Neucha";
  --header-2-font: "Nunito";
  --header-3-font: "Oswald";
  --main-font: "Lora";
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  background-image: var(--main-background-color);
  font-family: var(--main-font);
  line-height: 1.6;
  font-size: large;
}

#siteContainer {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0 2rem 0;
}

#outlet {
  flex: 1 1 750px;
  max-width: 100%;
}

#leftMargin,
#rightMargin {
  flex: 1 4 0.5rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

h1 {
  font-family: var(--header-1-font);
  font-size: 42px;
}

h2 {
  font-family: var(--header-2-font);
  font-size: 24px;
  color: var(--color-1);
}
